#page{
    background-color: #1c1c1c;
    color: white;
    height: calc( 100vh - 106px );
    
}
td,tr{
    vertical-align: middle;
    text-align: center;
}

.order-active{
    color: green;
}

.order-dead{
    color: red;
}