#page{
    background-color: #1c1c1c;
    color: white;
    height: 100%;
}
td,tr{
    vertical-align: middle;
    text-align: center;
}

.order-active{
    color: #198754 !important;
}

.order-dead{
    color: #dc3545 !important;
}
