.login{
    background-color: #1c1c1c;
    color: white;
    height: 100%;
}

.link-btn
{
    text-decoration: underline;
    cursor: pointer;
}
.link-btn:hover
{
    color: navajowhite;
}

.loginBox{
    width: 500px;
    /* height: 500px; */
    border: 1px solid #efefef;
    padding: 40px;
}