:root{
  background-color: #1c1c1c;
  color: white;
  height: 100vh;
}

a{
  color: white !important;
  text-decoration: none !important;
}

a:hover{
  color: navajowhite !important;
}

.userName
{
  color: white;
}

.clickable
{
  cursor: pointer;
}

.clickable:hover{
  color: navajowhite !important;
}

.footer{
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  background-color: #393838;
  display: flex;
  align-items: center;
  justify-content: center;
}