:root{
  background-color: #1c1c1c;
  color: white;
  height: 100vh;
}

a{
  color: white !important;
  text-decoration: none !important;
}

a:hover{
  color: navajowhite !important;
}

.userName
{
  color: white;
}